<article class="post-container {{post_class}}">
    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>

        <p class="post-date"><time datetime="{{published_at}}">{{date format="YYYY-M-D"}}</time></p>
    </header>

    <div class="post-content clearfix">
        {{#if image}}
            <img class="post-featured-image" src="{{image}}">
        {{/if}}

        {{{content}}}
    </div>
	
	
	<ul class="post-pagenation">
	    {{#prev_post}}
	      <li class="prev">«  <a href="{{url}}">{{title}}</a></li>
	    {{/prev_post}}
		
		
	    {{#next_post}}
	       <li class="next"><a href="{{url}}">{{title}}</a>  »</li>
	     {{/next_post}}
	</ul>
	


</article>