<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/nprogress.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div id="wrapper">    
        <div id="ajax-container">
            {{{body}}}
        </div>
		<section class="self-descprtion">
			<div class="body">
				  <p class="avatar"><img  width="100" height="100" src="http://gtms03.alicdn.com/tps/i3/TB15OhMKFXXXXbUXVXXMluxHXXX-200-200.jpeg" /></p>
				  <p>我是柳翎，男，目前在杭州－阿里西厂工作，是一名普通的前端开发工程师</p>	
				  <p>最为擅长熬夜，特技是抗冻，同好请加<a href="#sandy198753">微信</a>或<a href="mailto:liuling.wb@taobao.com">邮件</a>交流</p>
				  <p>主题偷自淘宝UED前辈<b>「明城」</b>的博客，模仿是最好的恭维 :)</p>
			</div>
		</section>
    </div>

    <footer class="footer">
        <div class="container">
			<div class="footprint">
				<p>&copy; 2009 - 2015 Sa </p>
			</div>
			<div class="copyright">
				<p>Hosted by <a href="#">Linode</a></p>
			</div>			
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript">  
    if (typeof jQuery == 'undefined') {
        document.write('<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></'+'script>');
    }
    </script>
	
	
    <script async="true" src="http://cdn.staticfile.org/webfont/1.3.0/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Lora']
				}
			});
	</script>
	

    <script type="text/javascript" src="{{asset "js/jquery.history.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/nprogress.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>

</body>
</html>
